

.radio-rect-container {
    cursor: pointer;
    user-select: none;
    margin-top: 0px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
  }

  .radio-button-rect-label {
    padding-top:40%;
    text-align: center;
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    background-color: #fafafa;
    grid-row: 1;
    display:flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
  }

  .label-rect-inspected{
    background-color: #c0d9c881;
  }


  .total-target-area-radio-rect{
    display: grid; 
    grid-template-rows: 0.4fr 0.6fr;
    background-color: white;
    place-items: stretch;
    margin-top: 0px;
    margin-bottom:0px;
    flex-grow: 1;
    border: 5px solid #eaeaea;
  }

  .total-target-rect-inspected{
    background-color: #d5f2de31;
  }
  
  .radio-rect-fill {
    width: 100%;
    height:100%;
    grid-column:1; 
    grid-row:2;
  }

  .target{
    background-color: #28666e;
  }

  .other{
    background-color: #28666e;
  }

  .unselected-rect {
    width: 100%;
    height: 0;
  }

  .transitioning {
  transition: all 400ms linear;
  }

  #RULER {
    height: 20%;
    width:100%;
  }