

#slider-radio-group{
    grid-column: 2 / 12; 
    grid-row: 1/ 1; 
    display:flex;
    justify-content: space-around;

}

#slider-zoom-group{
    grid-column: 2 / 12; 
    grid-row: 1/ 1; 
    display:flex;
    justify-content: stretch;

}

