.navbar{
    display: flex;
    flex-direction: row;
    height: 25%;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    margin-bottom: 80px;
}

#question {
    margin-right: 50px;
    margin-left: 50px; 
    user-select: none;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    justify-self: center;
}