
.nav-button{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height:300px;
    width: 200px;
    flex-shrink: 0;
    justify-content: space-around;
    align-content: center;
    background: white;
    z-index:30;
    
}

.end-of-variant{
    background: #c0d9c881;
}

.no-gaze-default{
    max-width: 0px;
    height: 300px;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background: #b5b68273;
}

.gaze-detected-back{
    max-width:200px;
    display:flex;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    height: 300px;
    transition: max-width 0.5s ease-in-out;
    transform-origin: center right;
    background: #b5b68273;
}

.gaze-detected-next{
    max-width:200px;
    display:flex;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    height: 300px;
    transition: max-width 0.5s ease-in-out;
    background: #b5b68273;
}

.no-gaze-detected-back{
    max-width: 0px;
    height: 300px;
    display:flex;
    grid-column: 1 / 4;
    grid-row: 1/ 4;
    transform-origin: center right;
    transition: max-width 0.5s ease-in-out;
    background: #b5b68273;
}

.no-gaze-detected-next{
    max-width:0px;
    display:flex;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    height: 300px;
    transition: max-width 0.5s ease-in-out;
    background: #b5b68273;
}
 
.button-icon{
    grid-column: 2;
    grid-row: 2;
    place-self: center;
    width: 60%;
    height: 80%;
}

#submit-button{
    background: green;
}
