/* .navbar{
    display: flex;
    flex-direction: "column";
    height: 150px;
    background-color: #0f5f63;
    width: -webkit-fill-available;
    justify-content: center;
    user-select: none;
} */