

.radio-container {
    cursor: pointer;
    user-select: none;
    margin-bottom: 50px; 
  }

  .radio-button-label {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top:0;
  }

  .total-target-area-radio{
    border-radius: 50%;
    background-color: white;
    margin-top: 50px;
    margin-bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .radio-outer-circle {

      /* Style size thickness, and color of outer circle*/
    width: 80%;
    height: 80%;
    border: 5px solid;
    border-radius: 50%;
    /* Position inner circle in the middle*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .radio-inner-circle {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .unselected-circle {
    width: 0;
    height: 0;
  }

  .transitioning {
  transition: all 0.5s linear;
  }