

.radio-container {
    cursor: pointer;
    user-select: none;
    margin-bottom: 50px; 
    margin-top: 0px;
    width:100%;
    height:80%;
  }

  .radio-button-label {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top:0;
  }

  .total-target-area-radio{
    background-color: white;
    margin-top: 50px;
    margin-bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:80%;
    border: 5px solid #7c9885;
  }
  
  .radio-fill {
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .unselected {
    width: 0;
    height: 0;
  }

  .transitioning {
  transition: all 0.5s linear;
  }