

.radio-container {
    margin: 24px 0;
    cursor: pointer;
    user-select: none;
  }
  
  .radio-outer-circle {

      /* Style size thickness, and color of outer circle*/
    width: 56px;
    height: 56px;
    border: 2px solid #34a0a4;
    border-radius: 50%;

    /* Position inner circle in the middle*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 24px;
    margin-left: 24px;

    /* Speed of color change */
    transition: all 1s linear;
  }
  
  .radio-inner-circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #34a0a4;

    /* Speed of color change */
    transition: all 1s linear;
  }
  .unselected {
    border: 2px solid #006d77;
  }
  .unselected-circle {
    width: 0;
    height: 0;
  }
