.radio-container {
    margin: 80px 0;
    cursor: pointer;
    user-select: none;
  }
  
  .radio-outer-circle {

      /* Style size thickness, and color of outer circle*/
    width: 40px;
    height: 40px;
    border: 2px solid #0d5bc6;
    border-radius: 50%;

    /* Position inner circle in the middle*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 32px;
    margin-left: 32px;

    /* Speed of color change */
    transition: all 1s linear;
  }
  
  .radio-inner-circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #0d5bc6;

    /* Speed of color change */
    transition: all 1s linear;
  }
  .unselected {
    border: 2px solid #666;
  }
  .unselected-circle {
    width: 0;
    height: 0;
  }
