
.App {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white; 
  height:100%;
  min-width:1390px;      
  width: auto !important;  /* Firefox will set width as auto */
  width: 1390px;            /* As IE6 ignores !important it will set width as 1228; */
}

#webgazerVideoContainer {
  padding:20px;
  width: 160px !important;
  height:120px !important;
  position:fixed; 
}

#webgazerVideoFeed {
  width: 160px !important;
  height:120px !important;
}

#webgazerFaceOverlay {
  width: 160px !important;
  height:120px !important;
}

#webgazerFaceFeedbackBox {
  left:55px !important;
  top: 35px !important;
  width: 80px !important;
  height: 80px !important;
}

#webgazerGazeDot {
  /* display:none !important; */
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  border: solid 2px  rgb(49, 13, 27) !important;	
  box-shadow: 0 0 100px 3px rgb(49, 13, 27)!important;	
  pointer-events: none !important;
  background: none !important;	
  z-index: 999999;
  left: 0;
  top:0;
}