
.nav-button{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height:inherit;
    width: 300px;
    justify-content: space-around;
    align-content: center;
    border-radius: 25px;
    background: #FFFFFF;
    
}

.no-gaze-default{
    max-height:0px;
    width: 300px;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    border-radius: 25px;
    background: #13b3bb50;
}

.gaze-detected-top{
    max-height:150px;
    display:flex;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    border-radius: 25px;
    width: 300px;
    transition: max-height 0.5s ease-in-out;
    background: #13b3bb50;
}

.gaze-detected-bottom{
    max-height:150px;
    display:flex;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    border-radius: 25px;
    width: 300px;
    transform: scaleY(1);
    transform-origin: top center;
    transition: max-height 0.5s ease-in-out;
    background: #13b3bb50;
}

.no-gaze-detected-top{
    max-height:0px;
    display:flex;
    grid-column: 1 / 3;
    grid-row: 1/ 4;
    border-radius: 25px;
    width: 300px;
    transition: max-height 0.5s ease-in-out;
    background: #13b3bb50;
}

.no-gaze-detected-bottom{
    max-height:0px;
    display:flex;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    border-radius: 25px;
    width: 300px;
    transition: max-height 0.5s ease-in-out;
    background: #13b3bb50;
}
 
.button-icon{
    grid-column: 2;
    grid-row: 2;
    place-self: center;
}

#submit-button{
    background: green;
}
