
.item-container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height:90%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

/* #question {
    margin-top: 60px;
    margin-right: 40px;
    margin-left: 40px; 
    margin-bottom: 20px;
    user-select: none;
    font-size: 40px;
    font-weight: 700;
} */

.controls-container {
    background-color: white;
    height:100%;
}