
.item-container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height:90%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}

.controls-container {
    background-color: white;
    height:100%;
}