

.radio-container {
    cursor: pointer;
    user-select: none;
    margin-bottom: 50px; 
    margin-right: 1.5%;
    margin-left: 1.5%; 
  }

  .radio-button-label {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top:0;
  }

  .total-target-area-radio{
    border-radius: 50%;
    width: 230px;
    height: 230px;
    background-color: peru;
    margin-top: 100px;
    margin-bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .radio-outer-circle {

      /* Style size thickness, and color of outer circle*/
    width: 50%;
    height: 50%;
    border: 5px solid #ff0095;
    border-radius: 50%;
    /* Position inner circle in the middle*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .radio-inner-circle {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #ff0095;
  }

  .unselected-circle {
    width: 0;
    height: 0;
  }

  .transitioning {
  transition: all 0.5s linear;
  }