
.App {
  margin-top: 40px;
  background-color: white; 
  height:inherit;

}

#webgazerVideoContainer {
  padding:20px;
  width: 160px !important;
  height:120px !important;
  position:fixed; 
}

#webgazerVideoFeed {
  width: 160px !important;
  height:120px !important;
}

#webgazerFaceOverlay {
  width: 160px !important;
  height:120px !important;
}

#webgazerFaceFeedbackBox {
  left:55px !important;
  top: 35px !important;
  width: 80px !important;
  height: 80px !important;
}

#webgazerGazeDot {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  border: solid 2px  rgba(49, 34,68, 1.0) !important;	
  box-shadow: 0 0 100px 3px rgba(49, 34, 68, 1.0) !important;	
  pointer-events: none !important;
  background: none !important;	
  z-index: 999999;
  left: 0;
  top:0;
}