button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none; 
    align-self: center;
}

.LOOK-LOOK, .CLICK-CLICK{
    background-color: #4d194d;
}

.EYE-GAZE-ACCURACY, .CALIBRATION-ACCURACY{
    background-color: #006466;
}

.INACTIVE {
    display: none; 
}