button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none; 
    align-self: center;
    transition-duration: 2s;
}

.CALIBRATION{
    background-color: #4d194d !important;
    transform: 2s;
}

.VALIDATION {
    background-color: #006466 !important;
}

.INACTIVE {
    display:none;
}